body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}
.nav-item{
    font-size: small !important;
}
button{
    font-size: small !important;
}
.carousel-item {
      height: 90vh;
      min-height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .carousel-item::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.5); 
    }

    /* Centered content */
    .carousel-caption {
      top: 60%;
      transform: translateY(-50%);
    }
    .carousel-indicators{
     position: absolute;
     top: 50%;          
     right: 10px !important;       
     transform: translateY(-50%); 
     bottom: auto;      
     left: auto;        
     display: flex;
     flex-direction: column; 
     gap: 10px;   
    }

    .carousel-indicators {
      width: 20px !important;
      height: 20px !important;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.7;
      transition: all 0.3s ease;
    }

    .carousel-indicators .active {
      background-color: #000;
      opacity: 1;
    }
.booking-form-wrapper {
      position: relative;
      margin-top: -70px; /* pull up into slide area */
      z-index: 5;
    }

    .booking-form {
      background: #fff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }
h2{
    font-weight: bold !important;
}
.pr{
    font-size: small !important;
}
.card-stack {
      position: relative;
      max-width:fit-content;
      margin-left: 150px;
    }

    .front-card,
    .back-card {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0,0,0,0.15);
      width: 200px;
    }

    .front-card {
      position: relative;
      z-index: 2;
    }

    .back-card {
      position: absolute;
      top: 150px;
      left: 150px;
      z-index: 1;
    }
    img{
        height: 200px;
        width: 200px;
    }
.room-img{
      width: 100%;
      height: 400px;
      display: block;
}
.services-section{
    background-color: #f8f9fa;
}
.service-box{
    width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #dc3545;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
      margin-right: 15px;
}
 .feature-icon {
      width: 50px;
      height: 50px;
      background-color: #000000;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      margin-right: 15px;
    }
    .feature-box {
      display: flex;
      margin-bottom: 20px;
      text-align: start;
    }
.feature-text p{
    max-width: 500px;
    font-size: small;
}
.service-image{
    width: 400px;
    height: 400px;
}
.feature-icon-1{
     width: 50px;
      height: 50px;
      background-color: #a00505;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      margin-right: 15px;
}
.stats-section {
      background: url('https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWx8ZW58MHwwfDB8fHww') no-repeat center center/cover;
      position: relative;
      color: #fff;
      padding: 80px 0;
    }

    .stats-section::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(4, 4, 4, 0.7);
      z-index: 1;
    }
.stats-container {
      position: relative;
      z-index: 2;
    }
.stat-item{
    font-size: small;
}
.team-info {
      background-color: #f44336;
      color: #fff;
      padding: 15px;
    }
    .team-info h5 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .team-info p {
      font-size: 14px;
    }
.chef-image{
    width: 100%;
      height: auto;
      display: block;
}
.gallery-img {
      width: 100%;
      height: 400px !important;
      object-fit: cover;
      
    }
    .gallery-img0 {
      width: 100%;
      height: 200px !important;
      object-fit: cover;
      margin-top: 30px;
    }
.pricing-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 30px 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
      margin-bottom: 30px;
    }
.pricing-title {
      font-weight: 700;
      font-size: 18px;
      color: #012241;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .pricing-feature {
      list-style: none !important;
      padding: 0;
      margin-bottom: 20px;
      font-size: 14px !important;
      color: #909090;
    }
.Price-value {
      font-size: 30px;
      font-weight: 700;
      color: #012241;
    }
 .footer {
      background-color: #000;
      color: #fff;
      padding: 60px 20px 20px;
    }
    .footer h5 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .footer p, .footer a {
      color: #ccc;
      text-decoration: none;
      font-size: 14px;
    }
    .footer i {
      margin-right: 10px;
      color: #f44336;
    }
    .footer .social-icons a {
      color: #fff;
      font-size: 18px;
    }